

name: Deployment


# This on block define which jobs will trigger on which event like push or pull request
on:        
  push:
    branches: [ "main" ]
  

# There can be multiple jobs inside jobs block currently we have only one job i.e. build
jobs:
  deploy:

    runs-on: ubuntu-latest # we know all these jobs will not run on local machine but on github server, so here we specified that what machine should github use in their server

    


# these are the steps that github has to do to complete one particular job
    steps:
    - uses: actions/checkout@v4  # it tells github to checkout the current branch ex: if we are woking with feature branch it tells github to checkout feature branch bu tby default it checkout master/main branch
    - run: docker build -t hardikgupta2003/invoice-management-app:latest .    # this will build the docker image
# to push docker image to docker hub so this code on github need to communicate with docker hub and to facilitate this communication btw dcoker hub and github we have to use access token of docker hub    
    - run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login --username ${{ secrets.DOCKER_USERNAME }} --password-stdin #It takes the token you wrote after echo and secretly sends it to Docker as the password to log in to your Docker Hub account.
# echo "TOKEN" → prints the token and | → passes it to the next command    and   --password-stdin → tells Docker to read the password from that input instead of asking interactively
    - run: docker push hardikgupta2003/invoice-management-app:latest